.navbar {
    padding: 10;
    background-color: rgb(70, 49, 7);
}

#logo {
    margin-left: 10px;
}

.nav-text {
    font-family: fantabular-sans-mvb, mono;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-right: 20px;
    color: rgb(139, 114, 65);
}

#title {
    font-family: fantabular-sans-mvb, mono;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 20px;
    color: rgb(70, 49, 7);
}

#carousel {
    margin-left: 50px;
}

.text {
    font-family: fantabular-sans-mvb, mono;
    font-weight: 400;
    font-style: normal;
    color: rgb(70, 49, 7);
}

.text-italic {
    font-family: fantabular-sans-mvb, mono;
    font-weight: 400;
    font-style: italic;
    color: rgb(70, 49, 7);
}

.fa {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin-top: 80px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: rgb(149, 14, 144);
    color: white;
}

.fa-facebook {
    background: rgb(149, 14, 144);
    color: white;
}

.insta-img {
    width: 350px;
    height: 350px;
    margin: 5px;
    overflow: hidden;
}

.img-layout {
    margin-left: 60px;
    margin-right: 60px;
}